/t/test-data/dzil_module/build_dir
/t/test-data/module-build_module/_build
/t/test-data/module-build_module/build_dir
/t/test-data/module-build_module/MANIFEST*
/t/test-data/module-build_module/Build

/t/test-data/extutils-makemaker-module-with-manifest.skip/Acme-Helpers-*
/t/test-data/extutils-makemaker-module-with-manifest.skip/MANIFEST
/t/test-data/extutils-makemaker-module-with-manifest.skip/MYMETA.*
/t/test-data/extutils-makemaker-module-with-manifest.skip/Makefile
/t/test-data/extutils-makemaker-module-with-manifest.skip/blib/
/t/test-data/extutils-makemaker-module-with-manifest.skip/pm_to_blib

