---
on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

name: bash

jobs:
  shellcheck:
    name: Test Bash Scripts
    runs-on: ubuntu-latest
    container:
      image: perldocker/perl-tester:5.36  # we need prove
    steps:
      - uses: actions/checkout@v3
      - name: install Bats
        run: >
          cd /tmp &&
          git clone https://github.com/bats-core/bats-core.git --depth 1 &&
          cd bats-core &&
          ./install.sh /usr/local
      - name: Install Minilla
        run: cpm install -g Minilla
      - name: Configure git
        run: >
          git config --global user.email "foo@example.com" &&
          git config --global user.name "Min Illa"
      - name: minil tests
        run: bats -t t/minil_module.bats
      - name: dzil tests
        run: bats -t t/dzil_module.bats
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
          COVERALLS_TOKEN: ${{secrets.COVERALLS_TOKEN}}

#      - name: ExtUtils with MANIFEST test
#        run: bats -t t/extutils-makemaker-module-with-manifest.bats
#
#      - name: ExtUtils with MANIFEST.SKIP test
#        run: bats -t t/extutils-makemaker-module-with-manifest.skip.bats

      - name: Build.PL test
        run: bats -t t/module_build_module.bats

